@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--rose-quartz: #baa7b0ff;
	--rose-quartz-2: #b2abbfff;
	--french-gray: #b1b5c8ff;
	--columbia-blue: #bfd5e2ff;
	--light-cyan: #c7ebf0ff;
	background-color: var(--french-gray);
}

.main {
	width: 100vw;
	min-height: 100vh;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 10;
	padding: 0px 10px 0px 10px;
}

.flex-center {
	@apply flex justify-center items-center;
}

.login_btn {
	@apply cursor-pointer border-2 rounded-full border-rose-quartz bg-columbia-blue text-gray-800 font-bold hover:bg-white hover:text-black flex items-center justify-center py-1.5 px-2.5 min-w-[100px];
}

.register_btn {
	@apply cursor-pointer border-2 rounded-full border-columbia-blue bg-rose-quartz-2 text-black font-bold hover:bg-white hover:text-black flex items-center justify-center py-1.5 px-2.5 min-w-[100px];
}

.title_text {
	@apply mt-5 text-xl font-bold leading-[1.15] text-black sm:text-2xl pb-4 max-w-4xl;
}
